In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Yale Kopa 12-14(1).xlsx")

In [3]:
df.head()

,Name,Name URL,ei,Title,Price,Location,Description,en,en1,en2,Date,Post URL
0,Laura Scarinci,https://mbasic.facebook.com/laura.scarinci.526...,NaN,(Sold)Colorful Furnished 1BR Apartment,"€1,270",Downtown New Haven,Hi everyone.\nI am subletting starting now unt...,NaN,NaN,NaN,9 hrs,https://m.facebook.com/groups/1483912085183985...
1,Stella Lou,https://mbasic.facebook.com/stella.lou.50999?r...,NaN,(Sold)Room available close to Yale SOM,$826,Downtown New Haven,Hey everyone! If there’s someone who needs tem...,NaN,NaN,NaN,7 hrs,https://m.facebook.com/groups/1483912085183985...
2,Alex Mahler-Haug,https://mbasic.facebook.com/hmhsa?refid=18&_ft...,NaN,(Sold)WindTunnel 2 Whole House Rewind Upright ...,$90,Quinnipiac Meadows,WindTunnel 2 Whole House Rewind Upright Bagles...,NaN,NaN,NaN,6 hrs,https://m.facebook.com/groups/1483912085183985...
3,Nikolay Gresko,https://mbasic.facebook.com/nikolay.gresko?ref...,NaN,(Sold)Furnished bedroom in 2br/1 bath townhous...,$880,Downtown New Haven,Quiet and clean bedroom available in January. ...,NaN,NaN,NaN,6 hrs,https://m.facebook.com/groups/1483912085183985...
4,Daniel Cichocki,https://mbasic.facebook.com/DannyCichocki?refi...,NaN,(Sold)Large Room Available Starting January 1s...,$650,Downtown New Haven,Large Room Available Starting January 1 2021 i...,NaN,NaN,NaN,December 12 at 5:32 PM,https://m.facebook.com/groups/1483912085183985...

In [4]:
df.drop(columns=["ei", "en", "en1", "en2"], inplace=True)

In [5]:
def clean_name_url(url):
    url, _ = url.split("refid")
    permalink = url[:-1].replace("mbasic.face", "web.face")
    return f'=HYPERLINK("{permalink}", "View Profile")'
    

def clean_post_url(url):
    url, _ = url.split("refid")
    permalink = url[:-1].replace("m.face", "web.face")
    return f'=HYPERLINK("{permalink}", "View Post")'

In [6]:
def clean_title(title):
    return title.replace("(Sold)", "")

In [7]:
import re

def parse_price(price):
    str_res = "".join(re.findall(r"\d+", price))
    if str_res:
        return int(str_res)
    return 0

In [8]:
from datetime import datetime

datetime.today()

datetime.datetime(2020, 12, 16, 3, 40, 4, 648998)

In [9]:
date = datetime.strptime("December 12", "%B %d")

In [10]:
today = datetime.today()
today.year

2020

In [11]:
from datetime import datetime, timedelta

def parse_date(date):
    today = datetime.today()
    if "hrs" in date:
        parsed_date = today
    elif "Yesterday" in date:
        parsed_date = today - timedelta(days=1)
    else:
        return date.split(" at")[0]
    return parsed_date.strftime("%B %d")

In [12]:
parse_date("December 11 at 1:55 PM")

'December 11'

In [13]:
parse_date("Yesterday at 7:32 PM")

'December 15'

In [14]:
parse_date("9 hrs")

'December 16'

In [15]:
df = df[df["Price"].apply(parse_price) > 500]

In [16]:
df["Date"] = df["Date"].apply(parse_date)

In [17]:
df["Name URL"] = df["Name URL"].apply(clean_name_url)
df["Post URL"] = df["Post URL"].apply(clean_post_url)

In [18]:
df["Title"] = df["Title"].apply(clean_title)

In [19]:
df.head()

,Name,Name URL,Title,Price,Location,Description,Date,Post URL
0,Laura Scarinci,"=HYPERLINK(""https://web.facebook.com/laura.sca...",Colorful Furnished 1BR Apartment,"€1,270",Downtown New Haven,Hi everyone.\nI am subletting starting now unt...,December 16,"=HYPERLINK(""https://web.facebook.com/groups/14..."
1,Stella Lou,"=HYPERLINK(""https://web.facebook.com/stella.lo...",Room available close to Yale SOM,$826,Downtown New Haven,Hey everyone! If there’s someone who needs tem...,December 16,"=HYPERLINK(""https://web.facebook.com/groups/14..."
3,Nikolay Gresko,"=HYPERLINK(""https://web.facebook.com/nikolay.g...",Furnished bedroom in 2br/1 bath townhouse in N...,$880,Downtown New Haven,Quiet and clean bedroom available in January. ...,December 16,"=HYPERLINK(""https://web.facebook.com/groups/14..."
4,Daniel Cichocki,"=HYPERLINK(""https://web.facebook.com/DannyCich...",Large Room Available Starting January 1st 2021,$650,Downtown New Haven,Large Room Available Starting January 1 2021 i...,December 12,"=HYPERLINK(""https://web.facebook.com/groups/14..."
9,Jeffery Jones,"=HYPERLINK(""https://web.facebook.com/jeffery.j...",Room Available In New Haven,$750,Downtown New Haven,"Stainless steel appliances: oven, fridge, micr...",December 16,"=HYPERLINK(""https://web.facebook.com/groups/14..."

In [20]:
df.to_excel("parsed.xlsx", index=False)